<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.violetboralee.android.bakingappnew">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.SelectARecipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.SelectARecipeStepActivity"
            android:parentActivityName=".ui.SelectARecipeActivity">
        </activity>


        <activity
            android:name=".ui.ViewRecipeStepActivity"
            android:parentActivityName=".ui.SelectARecipeStepActivity">
        </activity>


        <service
            android:name=".widget.UpdateIngredientService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".widget.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".widget.BakingWidgetProvider"
            android:icon="@drawable/ic_widget_cake"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE2"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info"/>
        </receiver>
    </application>

</manifest>